:root {
  --swiper-theme-color: #ffba08;
}
.swiper-pagination-bullet {
  background: #fff;
  opacity: 0.2;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: var(--swiper-theme-color);
}
